<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Communicable Diseases</title>
    <body>
        <h1>Measles</h1>
        <p> Measles is spread when an infected person talks, breathes, coughs or sneezes tiny particles containing infectious agents into the air. These are called small particle aerosols. Due to their tiny size, small particle aerosols can travel long distances on air currents and remain suspended in the air for minutes to hours. These small particle aerosols may be breathed in by another person. Measles is also spread by contact with hands, tissues and other articles soiled by nose and throat discharges. The virus is very infectious and droplets in the air may infect people entering a room up to 30 minutes after an infected person has left it.</p>
        <br>
         <h2> Symptoms:</h2>
         <p>•	fever<br>
            •	tiredness<br>
            •	cough<br>
            •	sore throat<br>
            •	runny nose <br>
            •	sore eyes<br>
            •	photophobia (discomfort when looking at light)<br>
            </p>
    
    
    
    
    
    
    
    
    
    
    
    </body>
    </head>
    </html>